FirstLessonn/FirstLessonn/bin/
FirstLessonn/FirstLessonn/obj/
FirstLessonn/.vs/

Lesson2/.vs/

Lesson2/CheckVariables/bin/
Lesson2/CheckVariables/obj/

Lesson2/IncrementAndDecrement/bin/
Lesson2/IncrementAndDecrement/obj/

Lesson2/Lesson2/bin/
Lesson2/Lesson2/obj/

Lesson2/Temperature/bin/
Lesson2/Temperature/obj/
