.vs/FirstLessonn/FirstLessonn/bin/
.vs/FirstLessonn/FirstLessonn/obj/
.vs/FirstLessonn/FirstLessonn/FirstLessonn.csproj/

.vs/Lesson2/CheckVariables/bin/
.vs/Lesson2/CheckVariables/obj/
.vs/Lesson2/CheckVariables/CheckVariables.csproj/

.vs/Lesson2/IncrementAndDecrement/bin/
.vs/Lesson2/IncrementAndDecrement/obj/
.vs/Lesson2/IncrementAndDecrement/IncrementAndDecrement.csproj/

.vs/Lesson2/Lesson2/bin/
.vs/Lesson2/Lesson2/obj/
.vs/Lesson2/Lesson2/Lesson2.csproj/

.vs/Lesson2/Temperature/bin/
.vs/Lesson2/Temperature/obj/
.vs/Lesson2/Temperature/Temperature.csproj/